.wadah {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
  padding: 30px;
}
.wadah > div {
  width: 200px;
  height: 300px;
  background-color: antiquewhite;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  border: 0 2px 2px 2px solid black;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: grab;
}
.kopi,
.teh,
.mineral {
  width: 100%;
  height: 100%;
  margin: 20px;
  color: crimson;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kopi {
  background-color: rgb(89, 43, 9);
}
.teh {
  background-color: burlywood;
}
.kosong {
  background-color: rgb(215, 206, 206);
}
